html {
  scroll-behavior: smooth;
}
body{
        font-family: 'Roboto',sans-serif;
    }
    /* Custom CSS for Pradeep Construction */
    .navbar{
        margin-bottom: 0px;
        border-bottom: 1px solid #e8eaea;
    }
    .navbar-nav>li>a{
        color:black;
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav>li>.active{
        background-color:white;
        color: #337ab7;
        border-bottom: 3px solid #337ab7;
    }
    .navbar-nav>li>a:hover,.navbar-nav>li>a:focus{
        background-color:white;
        color: #337ab7;
        border-bottom: 3px solid #337ab7;
    }
    .navbar-header>a>img{
        height: 70px;
    }
    .navbar-brand{
        height: auto;
    }
    .navbar-toggle{
        margin-top: 20px;
    }
    .navbar-toggle {
        border-color: transparent; /* Removes border color */
    }
    .navbar-toggle .icon-bar {
        width: 25px;
        height: 3px;
        background-color: #337ab7; /* Changes regular toggle color */
    }
    h4{
        color: #337ab7;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .para{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-nav > .list-group-item{
        background: #006DBB;
        border: none;
        color: white;
    }
    .footer-nav > .list-group-item > a{
        color: white;
        font-weight: 300;
    }
    .newsletter-btn{
        color:white;
        background: #006dbb;
        border-color: #006dbb;
    }
    @media only screen and (max-width:767px) {
        .navbar-nav>li>a{
            color:black;
            background: #CCE1F1;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        .navbar-nav>li>.active{
            background-color: #337ab7;
            color: white;
        }
        .navbar-nav>li>a:hover,.navbar-nav>li>a:focus{
            background-color: #337ab7;
            color: white;
        }
    }
    .project-type-title{
        text-align: center;
        padding: 13px 0;
        background: #006DBB;
        color: white;
        text-decoration: none;
    }
     /* carousel */
    #quote-carousel
    {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    }

    /* Control buttons  */
    #quote-carousel .carousel-control
    {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
    }
    /* Previous button  */
    #quote-carousel .carousel-control.left
    {
    left: -12px;
    }
    /* Next button  */
    #quote-carousel .carousel-control.right
    {
    right: -12px !important;
    }
    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators
    {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
    }
    /* Changes the color of the indicators */
    #quote-carousel .carousel-indicators li
    {
    background: #c0c0c0;
    }
    #quote-carousel .carousel-indicators .active
    {
    background: #333333;
    }
    #quote-carousel img
    {
    width: 250px;
    height: 100px
    }
    /* End carousel */

    .item blockquote {
        border-left: none;
        margin: 0;
    }

    .item blockquote img {
        margin-bottom: 10px;
    }

    .item blockquote p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        margin-right: 10px;
    }



    /**
    MEDIA QUERIES
    */

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        #quote-carousel
        {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        }

    }

    /* Small devices (tablets, up to 768px) */
    @media (max-width: 768px) {

        /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

        #quote-carousel .carousel-indicators {
            bottom: -20px !important;
        }
        #quote-carousel .carousel-indicators li {
            display: inline-block;
            margin: 0px 5px;
            width: 15px;
            height: 15px;
        }
        #quote-carousel .carousel-indicators li.active {
            margin: 0px 5px;
            width: 20px;
            height: 20px;
        }
    }
    .para-heading::first-letter {
        border-bottom: 3px solid #004C82;
    }

    .project-type{
        border-bottom: 3px solid #006DBB;
        display: inline-block;
        padding: 5px;
    }
    .project-thumbnails{
        padding: 30px 0;
        border-bottom: 1px solid lightgray;
        border-right:1px solid lightgray;
    }
    .project-thumbnails img{
        width: 90%;
        height: 200px;
        padding: 10px;
        border: 1px solid lightgray;
    }
    .project-thumbnails > .site-name{
        width:90%;
        margin:0 auto;padding:15px;
        color:white;
        background-color:#006DBB;
    }
    .project-thumbnails > .site-name > .plus{
        display: none;
    }
    @media only screen and (max-width:767px) {
        .project-thumbnails{
            padding: 10px 0;
            border-bottom: none;
        }
        .project-thumbnails img{
            width: 90%;
            display: block;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid lightgray;
        }
        .project-thumbnails > .site-name{
            width:90%;
            margin:0 auto;
            color:white;
            background-color:#006DBB;
            text-align: left;
        }
        .project-thumbnails > .site-name > .plus{
            display: inline;
        }
    }

    .list-group.panel > .list-group-item {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    a.list-group-item{
        background: #CCE1F1;
    }
    a.list-group-item:hover,a.list-group-item:focus{
        background: #006DBB;
        color: white !important;
    }
    .list-group-submenu {
        margin-left:0px;
    }
    .nav-pills>li+li{
        margin-left: 0px;
    }
    
    .fixed-label {
        position: fixed;
        width: 300px;
        top: 0px;
        left: 50%;
        margin-left: -150px;
        background: #2c7325;
        padding: 4px 0;
        z-index: 9999;
        color: white;
        text-align: center;
    }
    
       
        @media(max-width:980px){
 
.navigation{ margin: 0; padding: 0; list-style: none; width: 180px; }
.navigation > li{}
.navigation > li > a{font-size: 14px; padding:8px;display: block; }
.navigation > li > ul{ display: block !important; margin: 0; padding: 0 0 0 15px; }
.navigation > li > ul li{ margin: 3px 0; }
.navigation > li > ul li a{ font-size: 13px; color: #999; }
}
        @media(min-width:980px){
            
            
            
.navigation > li > ul {
    position: absolute;
    width: 180px;
    z-index: 8;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 8px 0;
    display: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navigation > li > ul li a {
    display: block;
    padding: 5px 10px;
    color: #232323;
    border-top: 1px solid #f0f0f0;
}

.navigation > li > ul li:nth-child(1) a {
    border-top: none;
}

.navigation > li > ul li a:hover {
    background-color: #1f6ebe;
    color: #fff;
}
        }
        .careers_sub_btn{
            
                background: #006dbb;
    border-color: #006dbb;
    font-size: 14px;
    text-transform: uppercase;
    display: inline;
    border-radius: 4px;
    padding: 5px 26px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 23px;
        }
        .list-group-item{padding: 10px 15px 0;}
